:root {
    --fonte-principal:"poppins";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #03000a;
    font-family: Arial;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
}

.conteiner_titulo {
    background: #363636;
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding: 10px 0 10px 0;
}

.conteiner_titulo_negrito {
    font-weight: 700;
}

.infotxt {
    padding: 15px;
    margin: auto;
    width: 100;
    height: 30px;
    max-width: 100;
    justify-content:space-between;
    text-align: center;
    justify-items: center;
    color:#03000a;
    font-size: 30px;
    font-weight: bold;  
}
    
#logo {
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    max-height: 50px;
    max-width: 170px;
    background-size: 150px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}


.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.conteiner, .infopj, input {
    text-transform: uppercase;
}

#frente-cracha {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 8px 0;
    display: flex;
    width: 188px;
    max-height: 322px;
    padding: 10px 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    break-inside: avoid;
}

#employeeimage {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 150px;
    height: 180px;
    background-size: 140px;
    cursor:pointer;
}

figure {
    height: 170px;
    margin: 0px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

#employee {
    margin: auto;
    max-width: 160px;
    height: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    border: none;
    font-size: absolute-size;
    font-weight: bold;
    
}

#ocupation {
    font-size: absolute-size;
    font-weight: bold;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

#verso-cracha {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 7px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 8px;
    padding: 10px 0;
    width: 188px;
    max-width: 188px;
    height: 322px;


}

.versotxt {
    margin: 10px 10PX 0PX;
    text-transform: uppercase;
}

.inputverso {
    margin: auto;
    max-width: 160px;
    width: 180PX;
    max-height: 20PX;
    height: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    border: none;
    font-size: 9.4px;
}

.info {
    margin: 10px 10PX 0PX;
    text-align: justify;
    font-size: 9px;
}

.input-codebar {
    margin: 10px 10px 0px 10px;
    max-width: 160px;
    width: 160PX;
    height: 40px;
    text-align: center;
    border: none;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Libre Barcode 39';
}

.input-codebar::placeholder {
    font-family: var(--fonte-principal);
    font-size: 12px;
}

#codebar-input-number {
    margin: 0px 10px 0px 10px;
    max-width: 160px;
    width: 160PX;
    height: 14px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
}

.txtfile {
    margin: auto;
    text-align: center;
    justify-content: space-around;
    justify-items: center;
    text-transform: uppercase;
}

#barcode-div {
    height: 9em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#code128 {
    width: 100%;
    height: 100%;
}

#buttons {
    /* background: #363636; */
    display: flex;
    align-content: center;
    justify-content:  center;
}

.custom-btn {
    background: #7c7c7c;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    width: 7em;
    height: 3.5em;
    cursor: pointer;
    border-radius: 5px;
}

.custom-btn:hover {
    color: #111111;
    background: #ffffff;
    border: 1px solid white;
    
}

.final-bar {
    color: white;
    background-color: gray;
    position: fixed;
    width: 100%;
    flex-direction: initial;
}

@media print{
    header, footer, .anuncio, .topo, .make, #buttons, .credits, .suport, .suport-btn, .help-icon, .mostrarbtn, .btncards { display:none;}
    #frente-cracha, #verso-cracha {display:block;}
}
