* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #03000a;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.container_title {
    background: #363636;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    width: 100vw;
}

.container_title_bold {
    font-weight: 700;
}

.menu_card_area {
    height: 20px;
    position: absolute;
    width: 21%;
    height: 490px;
    transition: transform 0.5s ease-in-out; /* adicionando transição ao transform */
    transform: translateY(-490px); /* adicionando transform inicial */

}

.menu_card_area:hover {
    transform: translateY(0px); /* adicionando transform no hover */
}

.navegation_card_menu {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 80px 0px 0px 45px;
    width: 200px;
    height: 350px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
}

.hole_card {
    background: #0a0a0a;
    border-radius: 10px;
    width: 65px;
    height: 10px;
    margin: 0px 69px;
}

.cord_card {
    background: #f15006;
    border-radius: 0px 0 5px 5px;
    height: 180px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -160px;
    left: 77px;
}

.card_list_itens {
    border-bottom: #363636 1px solid;
    width: 140px;
    list-style: none;
    margin: auto;
    padding: 1em; 
}

.card_list_itens:last-child {
    border-bottom: none;
}

.card_link {
    color: #03000a;
    text-decoration: none;
    padding: 1em;
}

.card_link:hover {
    color: #f15006;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
}


#card_layout {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 8px 4px;
    width: 188px;
    max-height: 322px;
    height: 322px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    break-inside: avoid;
}

#brand_logo {
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    max-height: 50px;
    max-width: 170px;
    background-size: 150px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

#employeer_photo {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    height: 180px;
    background-size: 140px;
    cursor:pointer;
}

.img_card {
    height: 170px;
    margin: 0px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

#employeer {
    margin: auto;
    max-width: 160px;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    border: none;
    font-size: absolute;
    font-weight: bold;
}

#ocupation {
    font-size: absolute;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    margin: 0 14px;
    height: 20px;
    width: 160px;
}

.back_informations {
    margin: 10px 10PX 0PX;
    text-transform: uppercase;
    font-size: 10px;
}

.back_input_card {
    margin: auto;
    max-width: 160px;
    width: 180PX;
    max-height: 20PX;
    height: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    border: none;
    font-size: 9.4px;
}

#codebar-input-number {
    margin: 0px 10px 0px 10px;
    max-width: 160px;
    width: 160PX;
    height: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
}

#barcode-div {
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#code128 {
    width: 100%;
    height: 100%;
}

#function_btns {
    background: #363636;
    display: flex;
    align-content: center;
    justify-content:  center;
    width: 100vw;
    padding: 1em 0;
}

.custom_print_btn {
    background: #7c7c7c;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    width: 7em;
    height: 3.5em;
    cursor: pointer;
    border-radius: 5px;
}

.custom_print_btn:hover {
    color: #111111;
    background: #ffffff;
    border: 1px solid white;   
}

@media print{
    header, footer, #function_btns, #print_btn { display:none;}
    #card_layout {display:block;}
    .container_card {
        display: flex;
        flex-direction: column;
    }
}
